h1,h2,h3 {
    font-family: fantasy;
    color: purple;
}

ul {
    list-style-type: none;
}



li {
    text-align: center;
    border: 1px;
    border-color: red;
    border-radius: 25px;
    color:blue;
    background-color: lightpink;
    padding-left: 30px;
}

ol {
    font-weight: bold;
    list-style-position: inside; 
}

img {
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: sans-serif;
}

h3 {
    text-decoration: underline;
}

p{
    padding-top: 20px;
    padding-bottom: 20px;
}

h1 {
    font-size: 30px;
}