h1 {
    font-family: fantasy;
    font-size: 30px;
    color: purple;
}

ul {
    list-style-type: none;
}



li {
    text-align: center;
    border: 1px;
    border-color: red;
    border-radius: 25px;
    color:blue;
    background-color: lightpink;
    padding-left: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ol {
    font-weight: bold;
    list-style-position: inside; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: sans-serif;
}

h3 {
    text-decoration: underline;
}

p{
    padding-top: 20px;
    padding-bottom: 20px;
}

a:hover{
    color:greenyellow;
    font-weight:bold;
}