/* 10 additional declarations
    1 & 2 font family for li, ol
    3,4  a:hover 
    5. border-raidus for img*/
    


h1 {
    font-family: fantasy;
    font-size: 30px;
    color: purple;
}

ul {
    list-style-type: none;
}

li {
    text-align: center;
    border: 1px;
    border-color: red;
    border-radius: 25px;
    color:blue;
    background-color: lightpink;
    padding-left: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ol {
    font-weight: bold;
    list-style-position: inside; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: url("https://images.pexels.com/photos/1170986/pexels-photo-1170986.jpeg");
    border-radius: 8px;

}
img:hover{
    height: 200px;
    background: url("https://hips.hearstapps.com/hmg-prod/images/beautiful-smooth-haired-red-cat-lies-on-the-sofa-royalty-free-image-1678488026.jpg");
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: sans-serif;
}

h3 {
    text-decoration: underline;
}

p{
    padding-top: 20px;
    padding-bottom: 20px;
}

a:hover{
    color:greenyellow;
    font-weight:bold;
}